<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>PredictiCare</title>
        <link rel="shortcut icon" type="image/x-icon" href="../static/img/logo3-modified.png" > 
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{{ url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
        
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
                <a href="{{url_for('land')}}" class="navbar-brand p-0">
                    <h1 class="text-primary m-0">PredictiCare</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="{{url_for('home')}}" class="nav-item nav-link active">Home</a>
                        <a href="{{url_for('records')}}" class="nav-item nav-link">Prediction Records</a>
                        <a href="{{url_for('home')}}#about" class="nav-item nav-link">About Us</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><b>Profile<b></a>
                            <div class="dropdown-menu m-0">
                                <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#view_profile">View Profile</a>
                                <a href="{{url_for('sign_out')}}" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                        
                    </div>
                   
                </div>
            </nav>
        </div>


                        <div class="modal-header" margin-top:"10px;">
                            <p class="modal-title" id="exampleModalToggleLabel2">Update Profile Info</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <section style="background-color: #eee; margin:50px;">
                            <div class="container py-3">
                            <form action="/updateinfo" method="post" enctype="multipart/form-data">
                              <div class="row">
                                <div class="col-lg-4">  
                                  <div class="card mb-4" style="width: height: 300px;">
                                    <div class="card-body text-center" >
                                      <img src="{{ url_for('static', filename=pic) }}" alt="avatar"
                                        class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                                      <h5 class="my-3 fw-bold">{{name}}</h5>
                                      <p class="text-muted mb-1">Reference Id: {{ref_id}}</p>
                                      <p class="text-muted mb-4">{{address}}</p>
    
                                      <div class="d-flex justify-content-center mb-2">
                                        <input type="file" class="dropdown-item" name="pic" placeholder="" value="{{pic}}">
                                      </div>
                                    </div>
                                  </div>
                                    {% with alert = get_flashed_messages() %}
                                        {% if alert %}
                                            {% for message in alert %}
                                                <h5 class="text-danger text-center" >{{ message }}</h5>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                
                                
                                <div class="col-lg-8">
                                  <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="">
                                              <p class="mb-0" style="text-align: center; font-size: 25px;">Profile Info</p>
                                            </div>
                                          </div>
                                        <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="text-muted mb-0">Full Name</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control " name="fullname" placeholder="" value="{{name}}">
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="text-muted mb-0">Age</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control " name="age" placeholder="" value="{{age}}">
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="text-muted mb-0">Address</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control " name="address" placeholder="" value="{{address}}">
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="text-muted mb-0">Gender</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control " name="gender" placeholder="" value="{{gender}}">
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="text-muted mb-0">Birthdate</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="date" class="form-control " name="birthday" placeholder="" value="{{bday}}">
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="text-muted mb-0">Contact</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control " name="contact" placeholder="" value="{{number}}">
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="text-muted mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control " name="email" placeholder="" value="{{email}}">
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="text-muted mb-0">Enter New Password</p>
                                        </div> 
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control " name="password" placeholder="Enter New Password">
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="text-muted mb-0">Confirm New Password</p>
                                        </div>
                                        <div class="col-sm-9">
                                           <input type="password" class="form-control " name="confirm_password" placeholder="Confirm New Password">
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="text-muted mb-0">Enter Old Password</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control " name="old_password" placeholder="Enter Old Password*" required>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </section>
                        <div class="modal-footer">
                            <button type="submit" class="dropdown-item" name="Update">Save Changes</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <!--Update Profile Modal End-->
            
 <!--delete confirmation Modal Start-->
 <div class="modal fade" id="del_modal">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title">Delete Account</h4>
    <button type="button" class="delclose btn-default" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form action="/deleteacc" method="post">
    <div class="modal-body">
    <p>Are you sure you want to delete this account? All of the information and records will be deleted!!</p>
    </div>
    <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-primary" id="cancel" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn-danger"><a href="{{url_for('deleteacc')}}">Delete Account</a></button>
    </div>
  </form>
    </div>
    
    </div>
    
    </div>

        
        <!--View Profile Modal Start-->
        <div class="modal fade" id="view_profile" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title" id="exampleModalToggleLabel2">Account Details</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <section style="background-color: #eee;">
                        <div class="container py-3">
                      
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="card mb-4">
                                <div class="card-body text-center">
                                  <img src="{{ url_for('static', filename=pic) }}" alt="avatar"
                                    class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                                  <h5 class="my-3 fw-bold">{{name}}</h5>
                                  <p class="text-muted mb-1">Reference Id: {{ref_id}}</p>
                                  <p class="text-muted mb-4">{{address}}</p>
                                  <div class="d-flex justify-content-center mb-2">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="">
                                          <p class="mb-0" style="text-align: center; font-size: 25px;">Profile Info</p>
                                        </div>
                                      </div>
                                    <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="text-muted mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class=" mb-0 fs-5 fw-bold">{{name}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="text-muted mb-0">Age</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class=" mb-0 fs-5 fw-bold">{{age}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="text-muted mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="mb-0 fs-5 fw-bold">{{address}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="text-muted mb-0">Gender</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="mb-0 fs-5 fw-bold">{{gender}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="text-muted mb-0">Birthdate</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class=" mb-0 fs-5 fw-bold">{{bday}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="text-muted mb-0">Contact</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="mb-0 fs-5 fw-bold">{{number}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="text-muted mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="mb-0 fs-5 fw-bold">{{email}}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section>
                    <div class="modal-footer">
                        <a href="{{url_for('update')}}" class="dropdown-item" >Update Profile Info</a>
                        <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#del_modal">Delete Account</a>
                      </div>
                </div>
            </div>
        </div>
        <!--View Profile Modal End-->
        
        

        <script>
          
            var modal = document.getElementById("del_modal");
            
           
            var closeBtn = document.getElementsByClassName("delclose")[0];
            
            var cancel = document.getElementById("cancel")
           
            closeBtn.onclick = function() {
              modal.style.display = "none";
              window.location.href="{{url_for('update')}}";
            }
            cancel.onclick = function() {
              modal.style.display = "none";
              window.location.href="{{url_for('update')}}";
            }
            
          
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
                window.location.href="{{url_for('update')}}";
              }
            }
            </script>

       

        <!-- Back to Top -->
        <a href="#" class="btn  btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static',filename='lib/wow/wow.min.js')}}"></script>
        <script src="{{ url_for('static',filename='lib/easing/easing.min.js')}}"></script>
        <script src="{{ url_for('static',filename='lib/waypoints/waypoints.min.js')}}"></script>
        <script src="{{ url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
        

        <!-- Template Javascript -->
        <script src="{{ url_for('static',filename='js/main.js')}}"></script>
        
    </body>

</html>
